{% extends 'base.html' %}

{% block content %}
    <h2>Add Task</h2>
    <form action="/task/new" method="POST" class="task-form" >
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="5" required></textarea>
        </div>
        <div class="form-group">
        <label for="priority">Priority:</label>
        <select name="priority" id="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select name="category" id="category">
                <option value="Work">Work</option>
                <option value="Home">Home</option>
                <option value="Self">Self</option>
                <option value="Family">Family</option>
                <option value="Study">Study</option>
            </select>
        </div>

        <div class="form-group">
            <label for="due_date">Due Date:</label>
            <input type="datetime-local" id="due_date" name="due_date"  min="{{ current_datetime.strftime('%Y-%m-%dT%H:%M') }}" required>
        </div>

        <div class="form-group">
            <button type="submit" class="update-btn">Add Task</button>
        </div>
    </form>
    <a href="/dashboard" class="back-link">Back to Tasks</a>
{% endblock %}

